<%- include("./partials/head.ejs",{login:login}) %> 

<h1 style="text-align: center;">Ooops ! somethings Wrong Please.. Check Your Email and Other Value</h1>

<a href="/getlogin" class="button">Back</a>