<%- include("./partials/head.ejs",{login:login}) %> 

<div class="main">
    <a href="/dash"><h1>Courses</h1></a>
    <div class="container">
        <aside class="container__sidebar">
            <a href="/html" class="btn">Html</a>
            <a href="/css" class="btn">Css</a>
            <a href="/javascript" class="btn">javascript</a>
          </aside>
          <main class="container__main">
            <div class="in1">
                <a href="https://www.w3schools.in/css3/introduction-to-css/"><h1>Introduction</h1></a>
                <p>CSS is abbreviated as Cascading Style Sheets and describes how HTML elements need to be displayed when represented in a web page format or other media. It also helps save a lot of work because controlling the layout of multiple web pages can be done all at a time. It helps in representing how markup-based documents can be presented in conjunction with HTML. The latest version of CSS was released in CSS3.</p>
            </div>
            <div class="video">
                <h2>More Know</h2>
                <iframe width="750" height="400" src="https://www.youtube.com/embed/ieTHC78giGQ">
                </iframe>
            </div>
            <div class="btn1">
                <a id="a1" href="#" class="btn btn1" onclick="pageup()">Mark Complete</a>
               <a id="a2" href="/javascript" class="btn" style="display: none;">Next</a>
               </div>
        </main>
    </div>
</div>

<script>
    function pageup(){
        
        document.getElementById("a1").style.backgroundColor = "green";
        document.getElementById("a1").textContent = "Completed";
        document.getElementById("a1").onclick = "";
        document.getElementById("a2").style.display = "inline";
    }
</script>